@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Quicksand";
}

/* Header */
header {
  width: 100%;
  background-color: bisque;
  position: fixed;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}
/* Penutup Header */

/* Nav */
nav {
  display: flex;
  background-color: bisque;
  max-width: 1800px;
  justify-content: space-around;
  height: 60px;
  align-items: center;
  color: black;
  margin: 0 auto;
}

nav .logo-name {
  font-family: "Ubuntu";
  font-size: 15px;
  letter-spacing: 1px;
}

nav .logo-name h1 {
  color: black;
}

nav .logo-name h1:hover {
  color: lightcoral;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

nav ul li a:hover {
  font-weight: bold;
  border-bottom: 2px solid black;
}

/* Contact */
nav ul .kontak {
  background-color: lightgoldenrodyellow;
  border-radius: 50px;
  width: 80px;
  height: 25px;
  border: none;
  text-align: center;
  padding-bottom: 2px;
}

nav ul .kontak:hover {
  cursor: pointer;
  background-color: lightgrey;
  font-weight: bold;
}

nav ul .kontak .contact {
  font-size: 0.9em;
}

.contact:hover {
  border-bottom: none;
}
/* End Contact */
/* Penutup Nav */

/* Humburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 45px;
  height: 30px;
  opacity: 0;
  left: -8px;
  top: -5px;
  cursor: pointer;
  z-index: 3;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s;
}

/* Humburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
  transition: 0.3s ease;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
  transition: 0.3s ease;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: black;
}

.menu-toggle input:checked ~ span:last-child {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: black;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  background-color: black;
}

/* Penutup Humburger Menu */

/* Main */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.content {
  max-width: 1200px;
  padding: 10px;
}

.content .hero {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin-top: 70px;
}

.content .hero aside {
  padding: 50px;
}

.content .hero aside h1:hover {
  cursor: pointer;
  font-size: 1.8em;
}

.contact .hero img {
  width: 300px;
}

.content .hero aside .ket {
  width: 600px;
  text-align: justify;
}

.content .hero aside .pelajari {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.content .hero aside .pelajari:hover {
  background-color: bisque;
  font-weight: bold;
}

.content .hero aside .pelajari a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.content section {
  padding: 3px;
  margin-bottom: 10px;
}

.content section article {
  margin-bottom: 10px;
  padding: 5px;
}

.content section article h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content section article .bagian {
  padding: 3px;
}

.content section article .bagian h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
}

.content section article .bagian h4:hover {
  font-weight: bold;
}

.content section article .bagian #tiga-kolom {
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
}

.content section article .bagian .isi-content {
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
}

.content section article .bagian .isi-content .card {
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(87, 83, 83, 0.3);
  margin: 0 3px;
  text-align: center;
  padding: 5px;
}
.content section article .bagian .isi-content .card h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.content section article .bagian .isi-content .card img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content section article .bagian .isi-content .card p {
  text-align: justify;
  padding: 3px;
  font-size: 0.8em;
}

.more {
  text-align: center;
  font-size: 0.8em;
  list-style: none;
}

.more a {
  text-decoration: none;
  padding: 2px;
}
.more a:hover {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.content section article .bagian .isi-content .card .checkout {
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 2px 30px;
}

.content section article .bagian .isi-content .card .checkout .cart {
  border: none;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.content section article .bagian .isi-content .card .checkout .cart:hover {
  background-color: bisque;
}

.content section article .bagian .isi-content .card .checkout .cart a {
  text-decoration: none;
  color: black;
}

.content section article .bagian .isi-content .card .checkout .cart a:hover {
  font-weight: bold;
  font-size: 14px;
}

.content section article .bagian .isi-content .card p ul li {
  text-align: left;
  margin-left: 5px;
  font-size: 0.8em;
}

.content section article .bagian .isi-content .card .mobo {
  width: 150px;
  height: 100px;
}

/* Contact */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1500px;
}

.form-input {
  padding: 5px;
  width: 300px;
}

.form-input h6 {
  margin-top: 20px;
}

.form-input input {
  width: 100%;
  margin-top: 7px;
  border-radius: 5px;
  padding: 3px 5px;
  border: 1px solid black;
}

.form-input .tombol {
  display: flex;
  justify-content: end;
}

.form-input .tombol .submit {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.3s;
}

.form-input .tombol .submit:hover {
  background-color: bisque;
  font-weight: bold;
}

#txtarea {
  resize: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}

.sidebar {
  width: 300px;
  padding: 8px;
}

.tags {
  box-shadow: 1px 1px 10px rgba(87, 83, 83, 0.3);
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar .tags h4 {
  margin-bottom: 10px;
}

.sidebar .tags hr {
  width: 250px;
}

.sidebar .tags a {
  text-decoration: none;
  color: black;
  margin-top: 9px;
  margin-bottom: 5px;
}

.sidebar .tags a:hover {
  text-decoration: 2px solid black;
  font-weight: bold;
}

.tag {
  width: 13px;
}

.sidebar .biodata {
  box-shadow: 1px 1px 10px rgba(87, 83, 83, 0.3);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar .biodata h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar .biodata .bio {
  width: 90px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sidebar .biodata p {
  margin-top: 10px;
}
/* Penutup Contact */

/* Penutup Main */

/* Footer */
footer {
  width: 100%;
  background-color: bisque;
}

footer .logo-footer {
  text-align: center;
  padding: 10px;
}

footer .logo-footer h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-footer {
  display: flex;
  background-color: bisque;
  max-width: 1800px;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
  color: black;
  margin: 0 auto;
}

.medsos {
  display: flex;
  padding: 3px 0;
  margin-top: 20px;
  justify-content: space-evenly;
  width: 400px;
}

.medsos .instagram,
.facebook,
.twitter,
.youtube,
.linkedin {
  text-align: center;
  cursor: pointer;
}

.medsos img {
  width: 25px;
}

.medsos a {
  font-size: 0.7em;
  text-decoration: none;
  color: black;
}

.medsos a:hover {
  font-weight: bold;
}

.navigasi ul {
  margin-top: 20px;
  display: flex;
  padding: 3px 0;
  width: 400px;
  justify-content: space-evenly;
}
.navigasi ul li {
  list-style-type: none;
  text-align: center;
}

.navigasi ul li a {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
}

.navigasi ul li a:hover {
  font-weight: bold;
}

.navigasi ul li a img {
  width: 25px;
}

footer .copyright {
  text-align: center;
  padding: 10px;
}

footer .copyright h6 {
  cursor: pointer;
  margin-bottom: 30px;
}
/* Penutup Footer */

/* Responsive */

/* Tab */
@media screen and (max-width: 900px) {
  nav ul {
    width: 66%;
  }

  .content section article .bagian .isi-content {
    gap: 5px;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }
  .content section article .bagian #tiga-kolom {
    gap: 5px;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  .content section article .bagian .isi-content .card .checkout {
    padding: 0 10px;
  }

  .content .hero {
    flex-direction: column;
    padding: 0 10px;
  }

  .content .hero img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 280px;
  }

  .content .hero aside .ket {
    width: 600px;
  }

  #contact {
    width: auto;
  }

  main {
    flex-direction: column;
  }

  .sidebar {
    box-shadow: 1px 1px 10px rgba(87, 83, 83, 0.3);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .tags {
    margin: auto 0;
  }

  .item-footer {
    flex-direction: column;
    margin: auto;
  }

  .item-footer h4 {
    text-align: center;
    margin-top: 30px;
  }

  footer .copyright {
    margin-top: 50px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav ul {
    transform: translateY(-100%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    z-index: -1;
    transition: all 0.5s;
  }

  nav ul.slide {
    transform: translateX(0);
  }
  .menu-toggle {
    display: flex;
  }

  .content .hero {
    flex-direction: column;
    padding: 0 5px;
  }

  .content .hero img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
  }

  .content .hero aside .ket {
    width: 400px;
  }

  #contact {
    width: auto;
  }

  .sidebar {
    flex-direction: column;
  }

  .tags {
    margin-top: 50px;
  }

  .content section article .bagian .isi-content {
    gap: 5px;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }

  .content section article .bagian #tiga-kolom {
    gap: 5px;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }
}
